/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DM_Sans/DMSans-Regular.ttf);
    font-weight: 400;
  }
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DM_Sans/DMSans-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-weight: 400;
  }
.container{
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header .container .navigation{
    margin-left: 173.42px;
    margin-right: 158px;
}
.header .container ul{
    display: flex;
}
.header .container li{
    margin-right: 49px;
}
.header .container li:last-child{
    margin-right: 0px;
}
.header .logo{
    margin-top: 40px; 
}
.header .navigation{
    margin-top: 44px;
}
.header .header-btn {
    margin-top: 30px;
}
.header .navigation a{
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.4689474105834961px;
    text-align: left;
    color: #19191B;
}
.btn{
    font-family: "DM Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: center;
    color: #FFFFFF;
}
.btn{
    height: 60px;
    width: 211px;
    background-color: #FF7143;
    border-radius: 10px;
}
.main-info-top{
    display: flex;
}
.main-info-top .main-title{
    font-family: DM Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -2.5010533332824707px;
    text-align: left;
    color: #19191B;
}
.main-info-top .main-title{
    margin-top: 212.43px;
    margin-bottom: 30px;
    margin-right: 74px;
}
.main-info-top .main-text{
    font-family: "Mulish";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6252632141113281px;
    text-align: left;
    color: #696871;
}
.main-info-top .main-text{
    width: 459px;
    height: 90px;
    margin-bottom: 50px;
}
.main-btn .btn-blue{
    background-color: #5454D4;
    border-radius: 10px;
}
.main-btn .btn-scrool{
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}
.main-btn .btn-blue{
    margin-right: 40px;
}
.main-hero .hero{
    margin-top: 100px;
    margin-right: -73px;
    margin-bottom: 100.18px;
}
.main .icon{
    display: flex;
    justify-content: space-between;
}
.main-info-bottom .index-info .index-title{
    font-family: DM Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563158392906189px;
    text-align: left;
    color: #19191B;
}
.main-info-bottom .index-info .index-text{
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6252632141113281px;
    text-align: left;
    color: #696871;
}
.main-info-bottom .index-info .index-link{
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: left;
    color: #5454D4;
}
.main-info-bottom .index-hero img{
    margin-top: 160px;
    margin-right: 165.5px;
}
.main-info-bottom .index-info .index-title{
    margin-top: 276.5px;
    margin-bottom: 30px;
}
.main-info-bottom .index-info .index-text{
    width: 459px;
    height: 90px;
    margin-bottom: 30px;
}
.main-info-bottom-index{
    display: flex;
}
.main-info-bottom .metrics-info .metrics-title{
    font-family: DM Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563158392906189px;
    text-align: left;
    color: #19191B;
}
.main-info-bottom .metrics-info .metrics-text{
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6252632141113281px;
    text-align: left;
    color: #696871;
}
.main-info-bottom .metrics-info .metrics-link{
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: left;
    color: #5454D4;
}
.main-info-bottom .metrics-hero img{
    margin-top: 83px;
    margin-left: 158px;
}
.main-info-bottom .metrics-info .metrics-title{
    margin-top: 262px;
    margin-bottom: 30px;
}
.main-info-bottom .metrics-info .metrics-text{
    width: 459px;
    height: 60px;
    margin-bottom: 30px;
}
.main-info-bottom-metrics{
    display: flex;
}
.capabilities{
    display: flex;
}
.capabilities {
    margin-top: 150px;
}
.capabilities .card img{
    margin-left: 130px;
    margin-bottom: 20px;
    display: block;
}
.capabilities .calculator img{
    margin-left: 120px;
    margin-bottom: 20px;
    display: block;
}
.capabilities .camera img{
    margin-left: 130px;
    margin-bottom: 20px;
    display: block;
}
.capabilities .card .title-card{
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.7503160238265991px;
    text-align: center;
    color: #19191B;
}
.capabilities .card .text-card{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    color: #696871;
}
.capabilities .calculator .title-calculator{
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.7503160238265991px;
    text-align: center;
    color: #19191B;
}
.capabilities .calculator .text-calculator{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    color: #696871;
}
.capabilities .camera .title-camera{
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.7503160238265991px;
    text-align: center;
    color: #19191B;
}
.capabilities .camera .text-camera{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    color: #696871;
}
/*кнопка переключатель*/
.form_toggle {
	display: inline-block;
	overflow: hidden;
    
}
.form_toggle-item {
	display: inline-block;
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px;    
	border: 2px solid #F7F7FB;
	border-right: none;
	cursor: pointer;
	user-select: none;   
    background-color: #F7F7FB;
}
.form_toggle .item-1 label {
	border-radius: 10px 0 0 10px;
    width: 172px;
    height: 65px;
    
}
.form_toggle .item-2 label {
	border-radius: 0 10px 10px 0;
    width: 172px;
    height: 65px;
}
.form_toggle .item-1 input[type=radio]:checked + label {
	background: #5454D4;
    color: #FFFFFF;
    
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #5454D4;
    color: #19191B;
}

.form_toggle .text-lable{
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    padding-top: 18px;
}
/*--------------------------------*/
.footer .title-get-plan{
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
    color: #19191B;
}
.footer .title-get-plan{
    width: 523px;
    height: 140px;
    margin-top: 150px;
}
.footer .form_toggle{
    margin-top: 198px;
    margin-left: 244px;
    margin-right: -73px;
}
.footer .get-plan{
    display: flex;
}
.footer .get-plan-price button{
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: center;
    color: #5454D4;
}
.get-plan-price .premium button{
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: center;
    color: #FFFFFF;
}
.footer .get-plan-price .starter{
    display: flex;
    flex-direction: column;
}
.get-plan-price .starter span{
    margin-top: 34px;
    margin-left: 138.5px;
    margin-right: 137.5px;
    margin-bottom: 22px;
}
.get-plan-price .starter h3{
    margin-bottom: 28px;
}
.get-plan-price .starter ul{
    margin-bottom: 36px;
}
.get-plan-price .starter button{
    width: 285px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}
.footer .get-plan-price .enterprise{
    display: flex;
    flex-direction: column;
}
.get-plan-price .enterprise span{
    margin-top: 34px;
    margin-left: 138.5px;
    margin-right: 137.5px;
    margin-bottom: 22px;
}
.get-plan-price .enterprise h3{
    margin-bottom: 28px;
}
.get-plan-price .enterprise ul{
    margin-bottom: 36px;
}
.get-plan-price .enterprise button{
    width: 285px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}
.get-plan-price span{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5627369284629822px;
    text-align: center;
    color: #696871;
}
.get-plan-price .premium span{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5627369284629822px;
    text-align: center;
    color: #FFFFFFB2;
    opacity: 70%;
}
.get-plan-price .premium h3{
    margin-bottom: 28px;
}
.get-plan-price .premium ul{
    margin-bottom: 36px;
}
.get-plan-price .premium button{
    width: 305px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
    background-color: #9F3919;
    border-radius: 10px;
}
.footer .get-plan-price .premium{
    display: flex;
    flex-direction: column;
}
.get-plan-price .premium span{
    margin-top: 50px;
    margin-left: 149.5px;
    margin-right: 155.5px;
    margin-bottom: 22px;
}
.get-plan-price h3{
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034482717514038px;
    text-align: center;
    color: #1D293F;
}
.get-plan-price .premium h3{
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034482717514038px;
    text-align: center;

    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034482717514038px;
    text-align: center;
    color: #FFFFFF;
}
.get-plan-price li{
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5314737558364868px;
    text-align: center;
    color: #696871;
}
.get-plan-price .premium li{
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5314737558364868px;
    text-align: center;
    color: #FFFFFF;
}
.get-plan-price .starter{
    width: 330px;
    height: 441px;
    background-color: #F8F8F8;
    border-radius: 10px;
}
.get-plan-price .starter{
    margin-top: 98px;
}

.get-plan-price .premium{
    width: 376px;
    height: 473px;
    background-color: #FF7143;
    border-radius: 10px;
    margin-bottom: 158px;
}
.get-plan-price .premium{
    margin-top: 82px;
}
.get-plan-price .enterprise{
    width: 330px;
    height: 441px;
    background-color: #F8F8F8;
    border-radius: 10px;
}
.get-plan-price .enterprise{
    margin-top: 98px;
}
.footer .get-plan-price{
    display: flex;
    justify-content: space-between;
}